body {
  /* background-color: blueviolet; */
  background: url(../Images/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  color: purple;
  box-sizing: border-box;
}

.header {
  color: blue;
  animation: glow 1s ease-in-out infinite alternate;
}

.footer {
  color: purple;
  position: relative;
}

.Todo-Item:hover .trash-icon {
  display: block;
}
